@model Wedblob.Web.Models.ContentFragment


<!--<section class="day-plan">-->
<!--<h2 class="section-header">On the day</h2>-->
<!--<div class="container">-->
<!--<ul class="timeline">-->
<!--<li>-->
<!--<div class="timeline-panel">-->
<!--<div class="timeline-copy">-->
<!--<h5 class="timeline-title">-->
<!--Responsive CSS Timeline-->
<!--</h5>-->
<!--<p>The timeline item description.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="timeline-badge">-->
<!--<i class="glyphicon glyphicon-envelope"></i>-->
<!--</div>-->
<!--</li>-->
<!--<li class="timeline-right">-->
<!--<div class="timeline-panel">-->
<!--<div class="timeline-copy">-->
<!--<h5 class="timeline-title">-->
<!--Responsive CSS Timeline-->
<!--</h5>-->
<!--<p>The timeline item description.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="timeline-badge info">-->
<!--<i class="glyphicon glyphicon-search"></i>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</section>-->

<section id="@Model.Data.navigationId" class="plan">
    <h2 class="section-header">
        @Model.Data.navigationTitle
    </h2>

    <div class="container">
        <ul class="timeline">
            @{
                var i = 0;
            }
            @foreach (var timelineItem in @Model.Data.timeline)
            {
                var isAlternate = (i++ % 2 == 1);
                var date = DateTime.Parse(timelineItem.date.ToString());
                
                <li class="@(isAlternate ? "" : "timeline-inverted")">
                    @if(timelineItem.icon != null){
                        <div class="timeline-badge"><i class="glyphicon @timelineItem.icon"></i></div>
                    }
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><span></span>@timelineItem.title</h4>
                            <p><span class="text-muted time"><i class="glyphicon glyphicon-time"></i>@date.ToString("h:mm tt")</span></p>
                        </div>
                        <div class="timeline-body">
                            <p>@timelineItem.description</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>



</section>